[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
    url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
    url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
    url = git@github.com:godlygeek/tabular.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
    url = git@github.com:bling/vim-airline.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
    url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
    url = git@github.com:hail2u/vim-css3-syntax.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
    url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
    url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
    url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
    url = git@github.com:groenewege/vim-less.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
    url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/delimitMate.vim"]
	path = bundle/delimitMate.vim
    url = git@github.com:vim-scripts/delimitMate.vim.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
    url = git@github.com:junegunn/goyo.vim.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
    url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = git@github.com:w0ng/vim-hybrid.git
[submodule "bundle/vim-molokai"]
	path = bundle/vim-molokai
	url = git@github.com:tomasr/molokai.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
    url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/javascript-libraries-syntax"]
	path = bundle/javascript-libraries-syntax
	url = git@github.com:othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git@github.com:tsaleh/vim-matchit.git
[submodule "bundle/ack"]
	path = bundle/ack
    url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
    url = git@github.com:wookiehangover/jshint.vim.git
[submodule "bundle/vim-indent-lines"]
    path = bundle/vim-indent-lines
	url = git@github.com:Yggdroot/indentLine.git
[submodule "bundle/Dockerfile"]
	path = bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
